<!DOCTYPE html>
<html>
<head>
  <link rel ="stylesheet" type="text/css" href="/static/css/table.css">
</head>
  <body>
   <div class="about">
     <center>
     <h1>Character Information</h1>
     <h1>{{response['name']}}</h1>
     <table id="customers">
       <tbody>

             <tr>
               <th><center>Height</center></th>
               <td><center>{{response['height']}}</center></td>
              </tr>
              <tr>
                <th><center>Mass</center></th>
                <td><center>{{response['mass']}}</center></td>
               </tr>
               <tr>
                 <th><center>Hair color</center></th>
                 <td><center>{{response['hairColor']}}</center></td>
                </tr>
                <tr>
                  <th><center>Skin color</center></th>
                  <td><center>{{response['skinColor']}}</center></td>
                 </tr>
                 <tr>
                   <th><center>Eye color</center></th>
                   <td><center>{{response['eyeColor']}}</center></td>
                  </tr>
                  <tr>
                    <th><center>Birth year</center></th>
                    <td><center>{{response['birthYear']}}</center></td>
                   </tr>
                   <tr>
                     <th><center>Homeworld</center></th>
                     <td><center><a href={{"https://afternoon-falls-55959.herokuapp.com/planet/" + response['homeworld']['id']}}>{{response['homeworld']['name']}}</a></center></td>
                    </tr>

                  <tr>
                    <th><center>Films</center></th>
                    <td><center> {% for film in response['filmConnection']['films']  %}
                          <ul>
                            <li> <a href={{"https://afternoon-falls-55959.herokuapp.com/film/" + film['id']}}>{{film['title']}}</a></li>
                          </ul>
                          {% endfor %}
                          </center></td>
                   </tr>
                    <tr>
                      <th><center>Starships</center></th>
                      <td><center> {% for star in response['starshipConnection']['starships']  %}
                            <ul>
                              <li> <a href={{"https://afternoon-falls-55959.herokuapp.com/starship/"+ star['id']}}>{{star['name']}}</a></li>
                            </ul>
                            {% endfor %}
                            </center></td>
                     </tr>



         </tbody>
       </table>

   </div>
 </center>
  </body>
</html>
