<!DOCTYPE html>
<html>
  <body>
   <div class="about">
     <form action="https://afternoon-falls-55959.herokuapp.com/search" method="post">
    <input type="text" name="searching">
    <input type="submit" value ="Search">
</form>
     <h1>Film Information</h1>
     <h2>{{response['title']}}</h2>
     <table>
       <tbody>

             <tr>
               <th><center>Episode number</center></th>
               <td><center>{{response['episodeID']}}</center></td>
              </tr>
              <tr>
                <th><center>Opening</center></th>
                <td><center>{{response['openingCrawl']}}</center></td>
               </tr>
               <tr>
                 <th><center>Director</center></th>
                 <td><center>{{response['director']}}</center></td>
                </tr>
                <tr>
                  <th><center>Producer(s)</center></th>
                  <td><center>{{response['producers']}}</center></td>
                 </tr>
                 <tr>
                   <th><center>Release date</center></th>
                   <td><center>{{response['releaseDate']}}</center></td>
                  </tr>
                  <tr>
                    <th><center>Characters</center></th>
                    <td><center> {% for char in response['characterConnection']['characters']  %}
                          <ul>
                            <li> <a href={{"https://afternoon-falls-55959.herokuapp.com/people/"+ char['id']}}>{{char['name']}}</a></li>
                          </ul>
                          {% endfor %}
                          </center></td>
                   </tr>

                   <tr>
                     <th><center>Planets</center></th>
                     <td><center> {% for plan in response['planetConnection']['planets']  %}
                           <ul>
                             <li> <a href={{"https://afternoon-falls-55959.herokuapp.com/planet/"+ plan['id']}}>{{plan['name']}}</a></li>
                           </ul>
                           {% endfor %}
                           </center></td>
                    </tr>

                    <tr>
                      <th><center>Starships</center></th>
                      <td><center> {% for star in response['starshipConnection']['starships']  %}
                            <ul>
                              <li> <a href={{"https://afternoon-falls-55959.herokuapp.com/starship/"+ star['id']}}>{{star['name']}}</a></li>
                            </ul>
                            {% endfor %}
                            </center></td>
                     </tr>




         </tbody>
       </table>
   </div>
  </body>
</html>
