<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Star Wars</title>
</head>
<body>
    <div id="fb-root"></div>
    <div>
      <form action="https://afternoon-falls-55959.herokuapp.com/search" method="post">
     <input type="text" name="searching">
     <input type="submit" value ="Search">
 </form>
        <h1>Star wars films</h1>

        <table>
          <thead>
              <tr>
                <th>&emsp;Name&emsp;</th>
                <th>&emsp;Release date&emsp;</th>
                <th>&emsp;Director&emsp;</th>
                <th>&emsp;Producer(s)&emsp;</th>
                <th>&emsp;Episode number&emsp;</th>
                <th>&emsp;Information&emsp;</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              {% for film in films %}
                <tr>
                  <td><center>  <a href={{"https://afternoon-falls-55959.herokuapp.com/film/"+ film['node']['id']}}>{{film['node']['title']}}</a> </center></td>
                  <td><center>{{film['node']['releaseDate']}}</center></td>
                  <td><center>{{film['node']['director']}}</center></td>
                  <td><center>{{film['node']['producers']}}</center></td>
                  <td><center>{{film['node']['episodeID']}}</center></td>
                  <td><center>  <a href="https://afternoon-falls-55959.herokuapp.com/film/"+ film['node']['id']}}>See more</a> </center></td>

                </tr>
              {% endfor %}
            </tbody>
          </table>


    </div>

</body>
</html>
