<!DOCTYPE html>
<html>
<head>
  <link rel ="stylesheet" type="text/css" href="/static/css/table.css">
</head>
  <body>
   <div class="about">
     <center>
     <h1>Planet Information</h1>
     <h1>{{response['name']}}</h1>
     <table id="customers">
       <tbody>

             <tr>
               <th><center>Rotation period</center></th>
               <td><center>{{response['rotationPeriod']}}</center></td>
              </tr>
              <tr>
                <th><center>Orbital period</center></th>
                <td><center>{{response['orbitalPeriod']}}</center></td>
               </tr>
               <tr>
                 <th><center>Diameter</center></th>
                 <td><center>{{response['diameter']}}</center></td>
                </tr>
                <tr>
                  <th><center>Climate</center></th>
                  <td><center> {% for char in response['climates']  %}
                        <ul>
                          <li> {{char}}</a></li>
                        </ul>
                        {% endfor %}
                    </center></td>
                 </tr>
                 <tr>
                   <th><center>Gravity</center></th>
                   <td><center>{{response['gravity']}}</center></td>
                  </tr>
                  <tr>
                    <th><center>Terrain</center></th>
                    <td><center> {% for char in response['terrains']  %}
                          <ul>
                            <li> {{char}}</a></li>
                          </ul>
                          {% endfor %}
                      </center></td>
                   </tr>
                   <tr>
                     <tr>
                       <th><center>Surface water</center></th>
                       <td><center>{{response['surfaceWater']}}</center></td>
                      </tr>
                      <tr>
                        <th><center>Population</center></th>
                        <td><center>{{response['population']}}</center></td>
                       </tr>

                  <tr>
                    <th><center>Films</center></th>
                    <td><center> {% for film in response['filmConnection']['films']  %}
                          <ul>
                          <li> <a href={{"https://afternoon-falls-55959.herokuapp.com/film/" + film['id']}}>{{film['title']}}</a></li>
                          </ul>
                          {% endfor %}
                          </center></td>
                   </tr>
                   <tr>
                     <th><center>Residents</center></th>
                     <td><center> {% for char in response['residentConnection']['residents']  %}
                           <ul>
                              <li> <a href={{"https://afternoon-falls-55959.herokuapp.com/people/" + char['id']}}>{{char['name']}}</a></li>
                           </ul>
                           {% endfor %}
                           </center></td>
                    </tr>




         </tbody>
       </table>
   </div>
 </center>
  </body>
</html>
