<!DOCTYPE html>
<html>
<head>
  <link rel ="stylesheet" type="text/css" href="/static/css/table.css">
</head>
  <body>
   <div class="about">
     <center>
     <h1>Starship Information</h1>
     <h1>{{response['name']}}</h1>
     <table id="customers">
       <tbody>

             <tr>
               <th><center>Model</center></th>
               <td><center>{{response['model']}}</center></td>
              </tr>
              <tr>
                <th><center>Cost in credits</center></th>
                <td><center>{{response['costInCredits']}}</center></td>
               </tr>
               <tr>
                 <th><center>Manufacturer</center></th>
                 <td><center> {% for char in response['manufacturers']  %}
                       <ul>
                         <li> {{char}}</a></li>
                       </ul>
                       {% endfor %}
                   </center></td>
                </tr>
                <tr>
                  <th><center>Length</center></th>
                  <td><center>{{response['length']}}</center></td>
                 </tr>
                 <tr>
                   <th><center>Speed</center></th>
                   <td><center>{{response['maxAtmospheringSpeed']}}</center></td>
                  </tr>
                  <tr>
                    <th><center>Crew</center></th>
                    <td><center>{{response['crew']}}</center></td>
                   </tr>
                   <tr>
                     <tr>
                       <th><center>Passengers</center></th>
                       <td><center>{{response['passengers']}}</center></td>
                      </tr>
                      <tr>
                        <th><center>Capacity</center></th>
                        <td><center>{{response['cargoCapacity']}}</center></td>
                       </tr>

                       <tr>
                         <th><center>Consumables</center></th>
                         <td><center>{{response['consumables']}}</center></td>
                        </tr>
                        <tr>
                          <tr>
                            <th><center>Hyperdrive rating</center></th>
                            <td><center>{{response['hyperdriveRating']}}</center></td>
                           </tr>
                           <tr>
                             <th><center>MGLT</center></th>
                             <td><center>{{response['MGLT']}}</center></td>
                            </tr>
                            <tr>
                              <th><center>Starship class</center></th>
                              <td><center>{{response['starshipClass']}}</center></td>
                             </tr>


                  <tr>
                    <th><center>Films</center></th>
                    <td><center> {% for film in response['filmConnection']['films']  %}
                          <ul>
                            <li> <a href={{"https://afternoon-falls-55959.herokuapp.com/film/" + film['id']}}>{{film['title']}}</a></li>
                          </ul>
                          {% endfor %}
                          </center></td>
                   </tr>
                   <tr>
                     <th><center>Pilots</center></th>
                     <td><center> {% for char in response['pilotConnection']['pilots']  %}
                           <ul>
                             <li> <a href={{"https://afternoon-falls-55959.herokuapp.com/people/" + char['id']}}>{{char['name']}}</a></li>
                           </ul>
                           {% endfor %}
                           </center></td>
                    </tr>




         </tbody>
       </table>
   </div>
 </center>
  </body>
</html>
